{# This is free and unencumbered software released into the public domain. #}
{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block css_extra %}
<style>
/* 
 yacgs{
	Name: Yet another CSS grid system;
	Author: Cedric Kleinjung;
	License: public domain;
 }

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
*/
.row {
	display: block;
	vertical-align: top;
	/* overflow: hidden; */
	width: 100%;
}

.one			{ width: 100%; display: inline-block; }
.one-of-two		{ width: 49.5%; display: inline-block; }
.one-of-three	{ width: 33%; display: inline-block; }
.two-of-three	{ width: 66%; display: inline-block; }
.one-of-four	{ width: 24.75%; display: inline-block; }
.two-of-four	{ width: 49.5%; display: inline-block; }
.three-of-four	{ width: 74.25%; display: inline-block; }
.one-of-five	{ width: 19.8%; display: inline-block; }
.two-of-five	{ width: 39.6%; display: inline-block; }
.three-of-five	{ width: 59.4%; display: inline-block; }
.four-of-five	{ width: 79.2%; display: inline-block; }
.one-of-six		{ width: 16.5%; display: inline-block; }
.two-of-six		{ width: 33%; display: inline-block; }
.three-of-six	{ width: 49.5%; display: inline-block; }
.four-of-six	{ width: 66%; display: inline-block; }
.five-of-six	{ width: 82.5%; display: inline-block; }

@media screen and (max-width: 990px){
	.one			{ width: 100%; display: block; }
	.one-of-two		{ width: 100%; display: block; }
	.one-of-three	{ width: 100%; display: block; }
	.two-of-three	{ width: 100%; display: block; }
	.one-of-four	{ width: 100%; display: block; }
	.two-of-four	{ width: 100%; display: block; }
	.three-of-four	{ width: 100%; display: block; }
	.one-of-five	{ width: 100%; display: block; }
	.two-of-five	{ width: 100%; display: block; }
	.three-of-five	{ width: 100%; display: block; }
	.four-of-five	{ width: 100%; display: block; }
	.one-of-six		{ width: 100%; display: block; }
	.two-of-six		{ width: 100%; display: block; }
	.three-of-six	{ width: 100%; display: block; }
	.four-of-six	{ width: 100%; display: block; }
	.five-of-six	{ width: 100%; display: block; }
}
</style>
{% endblock %}

{% block js_extra %}
{% endblock %}

{% block content %}

<h2>Network Conditions</h2>
<p>Some information on internal router states. Currently this buckets the nodes data per hour, and takes a simple average.</p>
<p>Until data is collected from more routers, there is sure to be gaps.</p>
<table border=2>
	<tr>
		<th>activepeers</th>
		<th>highcapacitypeers</th>
		<th>tunnelsparticipating</th>
		<th>Time (UTC)</th>
		<th>Nodes reporting in</th>
	</tr>
	{% for speed in speeds %}
	<tr>
		<td>{{speed[1]}}</td>
		<td>{{speed[2]}}</td>
		<td>{{speed[3]}}</td>
		<td>{{speed[4]}}</td>
		<td>{{speed[5]}}</td>
	<tr>
	{% endfor %}
</table>

<h2>NetDB</h2>
<p>Total unique routers seen: {{total}}. Of them, {{ipv6_total}} are ipv6, and {{fw_total}} are firewalled.</p>

<div class="container">
	<section class="row">
		<h3>Version First Sightings</h3>
			<table border=2 class="one">
				<tr>
					<th>Version</th>
					<th>Time (UTC)</th>
				</tr>
				{% for version in sightings %}
				<tr>
					<td>{{version[0]}}</td>
					<td>{{version[1]}}</td>
				</tr>
				{% endfor %}
			</table>
	</section>

	<section class="row">
		<h3>Countries</h3>
		{#Note: for testing, ?? == unknown as is blank.#}
		<section class="one-of-two">
			<table border=2 class="one-of-two">
				<tr>
					<th>Country</th>
					<th>Num.</th>
				</tr>
				{% for country in countries %}
				<tr>
					<td>{{country[0]}}</td>
					<td>{{country[1]}}</td>
				</tr>
				{% endfor %}
			<table>
		</section>
		<section class="one-of-two">
			<aside>
				<img style="top:0" src="country.png"/>
			</aside>
		</section>
	</section>

	<hr>

	<section class="row">
		<h3>Versions</h3>
		<table border=2 class="one-of-two">
			<tr>
				<th>Version</th>
				<th>Num.</th>
			</tr>
		{% for version in versions %}
			<tr>
				<td>{{version[0]}}</td>
				<td>{{version[1]}}</td>
			</tr>
		{% endfor %}
		<table>
		<aside class="one-of-two">
			<img src="version.png"/>
		</aside>
	</section>

	<hr>

	<section class="row">
		<h3>Signing Keys</h3>
		<table border=2 class="one-of-two">
			<tr>
				<th>Version</th>
				<th>Num.</th>
			</tr>
		{% for sign_key in sign_keys %}
			<tr>
				<td>{{sign_key[0]}}</td>
				<td>{{sign_key[1]}}</td>
			</tr>
		{% endfor %}
		<table>
		<aside class="one-of-two">
			<img src="sign_key.png"/>
		</aside>
	<section>
</div>

{% endblock %}


